# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
import os
import numpy as np
import pandas as pd
app_train = pd.read_csv("/content/drive/My Drive/Machine_Learning_Marathon/application_train.csv")
app_test = pd.read_csv("/content/drive/My Drive/Machine_Learning_Marathon/application_test.csv")

In [ ]:
## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [3]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
sub_train = pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(307511, 7)

   WEEKDAY_APPR_PROCESS_START_FRIDAY  ...  WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0                                  0  ...                                     1
1                                  0  ...                                     0
2                                  0  ...                                     0
3                                  0  ...                                     1
4                                  0  ...                                     0

[5 rows x 7 columns]